// navbar and header
nav {
    background-color: #fff;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 99;


    .logo img {
        width: 50%;
    }
    
    .brandname {
        width: 100%;
    }
    .nav-items a:hover {
        border-bottom: 2px solid #000;
    }

    .brand-name-div {
        width: 20%;
        padding-top: 1em;
        padding-left: 1em;
        /* background-color: rgb(155, 146, 67); */
    
    }
}

.nav-items-minimized {
    display: none;
}

.brand-name-minimized {
    display: none;
}

.header  {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.904);
    background-color: #dc3545;
    word-spacing: 0.20em;
    font-size: 0.8rem;
    margin-top: 3.5em;
    padding: 0.4em;

    
    .left-bts {
        font-weight: 600;
    }
    span {
        margin-top: 1em;
        text-transform: uppercase;
    }
    a {
        color: rgba(255, 255, 255, 0.904);
        font-weight: bold;
        font-size: small;
        display: inline-block;
    }
    a:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.767);
    }

}




// media queiries 
// below phones 
@media only screen and (max-width: 290px){
    .normal-navbar  {
        display: none;   
    }
    .brandname-minimized {
        display: flex;
        width: 95%;
        min-width: 290px;
        margin: 0.3em 0;
        
        .left-bts img{
            width: 200%;
        }

        .right-bts img {
            margin-left: 4em;
            padding-top: 0.3em;
            width: 30px;
        }
    }
    .nav-items-minimized {
        background-color: #e9c0be7a;
        display: flex;
        justify-content: space-around;

        a {
            font-size: 0.6rem;
            margin: 0.5em 0;
            margin-right: 1em;
        }

        p {
            margin-top: 0.6em;
        }

        .right-bts {
            display: none;
        }

        .left-bts {
            width: 100%;
        }
    }
    .header {
        margin-top: 5em;

        span  {
            font-size: 0.6rem;
        }

        .right-bts {
            display: none;
        }
    }

}


// phones
@media (min-width: 290px) and (max-width: 600px) {
    .normal-navbar  {
        display: none;   
    }
    .brandname-minimized {
        display: flex;
        width: 95%;
        min-width: 360px;
        max-width: 672px;
        margin: 0.3em 0;

        .left-bts img{
            width: 150%;
        }

        .right-bts img {
            margin-left: 1.8em;
            width: 30px;
        }

    }
    .nav-items-minimized {
        background-color: #e9c0be7a;
        display: flex;
        justify-content: space-around;

        .left-bts {
            width: 100%;
        }

        .right-bts {
            display: none;
        }

        a {
            font-size: 0.7rem;
            padding: 1em 0em;
            margin-left: 0.9em;
        }
    }
    .header {
        margin-top: 5.7em;

        .right-bts {
            display: none;
        }
        span{
            font-size: 0.7rem;
        }
    }
}


// tablets
@media (min-width: 601px) and (max-width: 1199px) {
    .normal-navbar  {
        display: none;   
    }
    .brandname-minimized {
        display: flex;
        width: 95%;
        max-width: 672px;
        margin: 0.3em 0;

        .left-bts img{
            padding-top: 0.4em;
            width: 150%;
        }

        .right-bts img {
            margin-left: 1.5em;
            width: 40px;
        }
    }
    .nav-items-minimized {
        background-color: #e9c0be7a;
        display: flex;
        justify-content: space-between;

        .left-bts {
            width: 75%;
        }

        a {
            font-size: 0.8rem;
            padding: 1em 0em;
            margin-left: 1em;
        }

        p {
            padding-top: 0.6em;
        }
    }
    .header {
        margin-top: 7.5em;
        padding: 0.7em 1em;

        .right-bts {
            display: none;
        }

        span{
            font-size: 0.8rem;
        }
    }

}


// laptops
@media only screen and (min-width: 1200px)  {
    .brandname-minimized,
    .nav-items-minimized {
        display: none;
    }
}