<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="perfume store in UAE that has the most best selling perfume testers">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&family=Old+Standard+TT&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
        <!-- icons -->
        <script src="https://kit.fontawesome.com/3198edb026.js" crossorigin="anonymous"></script>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
        
        <!-- css  -->
        <link href="/css/styles.css" rel="stylesheet">
        
        <!-- title & icon  -->
        <link href="/pics/logo.png" rel="icon">
        <title> Dior | Original Perfume Testers in UAE </title>

    </head>

    <body>
        <!-- navbar -->
        <nav class="border-bottom">
            <div class="container-fluid">
                <!-- normal-navbar -->
                <div class="row normal-navbar">
                    <div class="col-2 brand-name-div">
                        <a href="/index.html"><img class="brandname" src="/pics/brandname.png" alt="beauzy logo"></a>
                    </div>
                    <div class="col-1 logo">
                        <img id="logo" class=" " src="/pics/logo.png" alt="beauzy logo">  
                    </div>
                    <div class="col-6 nav-items  pt-3">
                        <div class="d-flex justify-content-center">
                            <a href="/index.html#bestsellers" class="me-4">Best Sellers</a>
                            <a href="/templates/women.html" class="me-4">Women</a>
                            <a href="/templates/men.html" class="me-4">Men</a>
                            <a href="/templates/unisex.html" class="me-4">Unisex</a>
                            <a href="/templates/brands.html" class="me-4">Brands</a>
                            <a href="/index.html#pricelist" class="me-4">Price List</a>
                        </div>
                    </div>
                    <div class="col-2 right-side pt-3">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971585644345">Order Now </a></p>
                            <a class="whatsappicon ps-3" target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>

                <!-- navbar when minimized  -->
                <div class="row brandname-minimized">
                    <div class="col-4 left-bts pt-1">
                        <a href="/index.html"><img class="" src="/pics/brandname.png" alt="beauzy logo"></a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1 right-bts">
                        <img class="" src="/pics/logo.png" alt="beauzy logo">  
                    </div>
                </div>
                <!-- nav items minimized  -->
                <div class="row nav-items-minimized">
                    <div class="col-9 left-bts">
                        <div class="d-flex ">
                            <a href="/index.html#bestsellers">Best-Sellers</a>
                            <a href="/templates/women.html">Women</a>
                            <a href="/templates/men.html">Men</a>
                            <a href="/templates/unisex.html">Unisex</a>
                            <a href="/index.html#pricelist">Price List</a>
                        </div>
                    </div>
                    <div class="col-3 right-bts">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971585644345">Order Now </a></p>
                            <a class="whatsappicon" target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            

        </nav>
        <!-- header  -->
        <header class="header">
            <span class="left-bts">free delivery all over UAE (except for far area and Western Region)
            </span>
            <span class="right-bts">
                <a href="/templates/about.html" class="me-4 ">ABOUT</a>
                <a href="/templates/returns.html" class="me-3">RETURNS AND EXCHANGES</a>
            </span>
        </header>


        <!-- main  -->
        <section id="brands" class=" container">
            <div class="brandname">

                <img class="p-3" src="/pics/brandss/dior.png" alt=" dior logo">
            </div>
            <div class="container">
                <div class="row items">
                    <div class="item perfume ">
                        <div class="zoombox">
                            <a href="/templates/perfumes/fahrenheit.html"><img class=" zoom" src="/pics/perfumes2/fehrenhiet.jpg" alt="Fahrenheit Eau de Toilette"></a>
                        </div>
                        <div class="textbox">
                            <a href="/templates/perfumes/fahrenheit.html"><p>Fahrenheit</p></a>
                            <p>For him</p>
                        </div>
                    </div>
                    <div class="item perfume">
                        <div class="zoombox">
                            <a href="/templates/perfumes/missdiorblooming.html"><img class="zoom" src="/pics/perfumes2/missdiorblooming.jpg" alt="Miss Dior Blooming Bouquet"></a>
                        </div>
                        <div class="textbox">
                            <a href="/templates/perfumes/missdiorblooming.html"><p>Miss Dior Blooming Bouquet</p></a>
                            <p>For her</p>
                        </div>
                    </div>
                    <div class="item perfume">
                        <div class="zoombox">
                            <a href="/templates/perfumes/missdior.html"><img class="zoom" src="/pics/perfumes2/missdior.jfif" alt="Miss Dior"></a>
                        </div>
                        <div class="textbox">
                            <a href="/templates/perfumes/missdior.html"><p>Miss Dior</p></a>
                            <p>For her</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     

        <!-- discover   -->
        <section class="container findmore-container">
            <div class="textbox">

                <p class="">FIND MORE</p>
                <h2>YOU MAY ALSO LIKE</h2>
            </div>
            <div class="items">
                <div class="item">
                    <a href="/templates/perfumes/one.html"><img class="w-100" src="/pics/perfumes3/umayalsolike7.jfif" alt="Calvin Klein CK One  "></a>
                    <a href="/templates/perfumes/one.html"><p>Calvin Klein CK One </p></a>

                </div>
                <div class="item">
                    <a href="/templates/perfumes/bloom.html"><img class="w-100" src="/pics/perfumes3/umayalsolike8.jpg" alt=" bloom"></a>
                    <a href="/templates/perfumes/bloom.html"><p> Gucci Bloom</p></a>
                </div>
                <div class="item">
                    <a href="/templates/perfumes/Allure.html"><img class="w-100" src="/pics/perfumes3/umayalsolike9.jfif" alt=" Allure "></a>
                    <a href="/templates/perfumes/Allure.html"><p>Allure Homme Sport </p></a>
                </div>
            </div>

        </section>


        <!-- line -->
        <div class="container-md mt-5 pt-5">
            <div class="row border pink-line"></div>
        </div>
        <!-- footer -->
        <footer class="footer">
            <div class="container footer-items">
                <div class="row">
                    <div class="col-4 logo-moto">
                        <img class="img1" src="/pics/brandname.png" alt="Beauzy logo">
                        <p>UAE's favorite online store for original perfume testers shipping all over UAE.</p>
                        <img class="img2" src="/pics/codcar.png" alt="cash on delivery sign">
                    </div>
                    <div class="col-2 categories">
                        <h6>CATEGORIES</h6>
                        <ul class="">
                            <li><a href="/templates/women.html">Women</a></li>
                            <li><a href="/templates/men.html">Men</a></li>
                            <li><a href="/templates/unisex.html">Unisex</a></li>
                            <li><a href="/templates/brands.html">Brands</a></li>
                            <li><a href="/index.html#bestsellers">Best Sellers</a></li>
                        </ul>
                    </div>
                    <div class="col-2 links ">
                        <h6>IMPORTANT LINKS</h6>
                        <ul>
                            <li><a href="/templates/about.html">About</a></li>
                            <li><a href="/templates/faqs.html">FAQs</a></li>
                            <li><a href="/templates/returns.html">Returns and Exchanges</a></li>
                        </ul>
                    </div>
                    <div class="col-3 contact-us ">
                        <div class="contact-info">
                            <h6>CONTACT US</h6> 
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Phone:</b> </td>
                                        <td> +971-58-564-4345</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email:</b></td>
                                        <td>Beauzyuae@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                        <div class="social-media">
                            <h6 class="">SOCIAL MEDIA</h6>
                            <a target="_blank" href="https://www.facebook.com/groups/757047515363892/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                            <a target="_blank" href="https://www.instagram.com/beauzy_uae/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>

                    </div>
                </div>

                <!-- all rights reserved -->
                <div class="border mt-5 "></div>
                <div class="mt-2">
                    <p class="fs-6 fst-italic">All rights reserved. <br> Beauzy, UAE, <span class="year"></span>.</p>
                </div>   
            </div>
        </footer>

        <!-- javascript -->
        <script src="/script.js"></script>

        <!-- bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    </body>
</html>
