<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- bootstrap & CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/styles.css" rel="stylesheet">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&family=Old+Standard+TT&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
        <!-- icons -->
        <script src="https://kit.fontawesome.com/3198edb026.js" crossorigin="anonymous"></script>

        <!-- others -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/pics/logo.png" rel="icon">
        <title>Miss Dior Blooming Bouquet</title>

    </head>

    <body class="perfumes-body">
        <!-- navbar -->
        <nav class="border-bottom">
            <div class="container-fluid">
                <!-- normal-navbar -->
                <div class="row normal-navbar">
                    <div class="col-2 brand-name-div">
                        <a href="/index.html"><img class="brandname" src="/pics/brandname.png" alt="beauzy logo"></a>
                    </div>
                    <div class="col-1 logo">
                        <img id="logo" class=" " src="/pics/logo.png" alt="beauzy logo">  
                    </div>
                    <div class="col-6 nav-items  pt-3">
                        <div class="d-flex justify-content-center">
                            <a href="/index.html#bestsellers" class="me-4">Best Sellers</a>
                            <a href="/templates/women.html" class="me-4">Women</a>
                            <a href="/templates/men.html" class="me-4">Men</a>
                            <a href="/templates/unisex.html" class="me-4">Unisex</a>
                            <a href="/templates/brands.html" class="me-4">Brands</a>
                            <a href="/index.html#pricelist" class="me-4">Price List</a>
                        </div>
                    </div>
                    <div class="col-2 right-side pt-3">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971585644345">Order Now </a></p>
                            <a class="whatsappicon ps-3" target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>

                <!-- navbar when minimized  -->
                <div class="row brandname-minimized">
                    <div class="col-4 left-bts pt-1">
                        <a href="/index.html"><img class="" src="/pics/brandname.png" alt="beauzy logo"></a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1 right-bts">
                        <img class="" src="/pics/logo.png" alt="beauzy logo">  
                    </div>
                </div>
                <!-- nav items minimized  -->
                <div class="row nav-items-minimized">
                    <div class="col-9 left-bts">
                        <div class="d-flex ">
                            <a href="/index.html#bestsellers">Best-Sellers</a>
                            <a href="/templates/women.html">Women</a>
                            <a href="/templates/men.html">Men</a>
                            <a href="/templates/unisex.html">Unisex</a>
                            <a href="/index.html#pricelist">Price List</a>
                        </div>
                    </div>
                    <div class="col-3 right-bts">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971585644345">Order Now </a></p>
                            <a class="whatsappicon" target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            

        </nav>
        <!-- header  -->
        <header class="header">
            <span class="left-bts">free delivery all over UAE (except for far area and Western Region)
            </span>
            <span class="right-bts">
                <a href="/templates/about.html" class="me-4 ">ABOUT</a>
                <a href="/templates/returns.html" class="me-3">RETURNS AND EXCHANGES</a>
            </span>
        </header>

        <!-- main  -->
        <main id="perfume-page" class="container-lg perfume-container">
            <div class="row ">
            <h1 class="name-when-minimized fs-6">Miss Dior Blooming Bouquet</h1>
            
                <!-- left side  -->
                <div class="col-5 slider">

                    <!-- pictures slider -->
                    <div id="carouselExampleDark" class="carousel carousel-dark slide mx-auto " >
                    
                        <!-- carousel inner -->
                        <div class="carousel-inner rounded mx-auto">
                            <!-- image 1 -->
                            <div class="carousel-item active">
                                <img src="/pics/perfumes/missdiorb1.jpg" alt="Miss Dior Blooming Bouquet">
                            </div>
                            <!-- image 2 -->
                            <div class="carousel-item ">
                                <img src="/pics/perfumes/missdiorb2.jpg" alt="Miss Dior Blooming Bouquet">
                            </div>
                            <!-- image 3 -->
                            <div class="carousel-item ">
                                <img src="/pics/perfumes/missdiorb3.jpg" alt="Miss Dior Blooming Bouquet">
                            </div>
                            <!-- image 4 -->
                            <div class="carousel-item ">
                                <img src="/pics/perfumes/missdiorb4.jpg" alt="Miss Dior Blooming Bouquet">
                            </div>
                        </div>

                        <!-- buttons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>


                </div>

                <!-- right-side  -->
                <div class="col-7 perfume-details">
                    <div class="name-and-price ">
                    
                        <h1 class="fs-3">Miss Dior Blooming Bouquet</h1>
                        <div class="lined-box price">
                            <span>80 AED</span>
                        </div>

                    </div>
                    <h4 class="upper"><a  href="/templates/brands/dior.html">Dior </a></h4>
                    <p>For her</p>

                    <p><b>Miss Dior Blooming Bouquet </b>by <b>Dior  </b>is a Floral fragrance for women. Miss Dior Blooming Bouquet was launched in 2014. The nose behind this fragrance is Louise Turner. Top note is Sicilian Mandarin; middle notes are Pink Peony, Damask Rose, Apricot and Peach; base note is White Musk.</p>
                    <br>
                    <p><u><b> More Details</b></u></p>
                    <div class="lined-box availability">
                        <span>Available</span>
                    </div>
                    <div class="lined-box">
                        <span>100 ml</span>
                    </div>
                    <br>
                    <div class="ordernow">
                        <div>
                            <p><a target="_blank" href="https://wa.me/971585644345">Order Now</a></p> 
                        </div>
                        <div>
                            <a target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-3x  buynow-whatsapp"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <!-- line -->
        <div class="container-md mt-5 pt-5">
            <div class="row border pink-line"></div>
        </div>
        <!-- footer -->
        <footer class="footer">
            <div class="container footer-items">
                <div class="row">
                    <div class="col-4 logo-moto">
                        <img class="img1" src="/pics/brandname.png" alt="Beauzy logo">
                        <p>UAE's favorite online store for original perfume testers shipping all over UAE.</p>
                        <img class="img2" src="/pics/codcar.png" alt="cash on delivery sign">
                    </div>
                    <div class="col-2 categories">
                        <h6>CATEGORIES</h6>
                        <ul class="">
                            <li><a href="/templates/women.html">Women</a></li>
                            <li><a href="/templates/men.html">Men</a></li>
                            <li><a href="/templates/unisex.html">Unisex</a></li>
                            <li><a href="/templates/brands.html">Brands</a></li>
                            <li><a href="/index.html#bestsellers">Best Sellers</a></li>
                        </ul>
                    </div>
                    <div class="col-2 links ">
                        <h6>IMPORTANT LINKS</h6>
                        <ul>
                            <li><a href="/templates/about.html">About</a></li>
                            <li><a href="/templates/faqs.html">FAQs</a></li>
                            <li><a href="/templates/returns.html">Returns and Exchanges</a></li>
                        </ul>
                    </div>
                    <div class="col-3 contact-us ">
                        <div class="contact-info">
                            <h6>CONTACT US</h6> 
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Phone:</b> </td>
                                        <td> +971-58-564-4345</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email:</b></td>
                                        <td>Beauzyuae@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                        <div class="social-media">
                            <h6 class="">SOCIAL MEDIA</h6>
                            <a target="_blank" href="https://www.facebook.com/groups/757047515363892/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                            <a target="_blank" href="https://www.instagram.com/beauzy_uae/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>

                    </div>
                </div>

                <!-- all rights reserved -->
                <div class="border mt-5 "></div>
                <div class="mt-2">
                    <p class="fs-6 fst-italic">All rights reserved. <br> Beauzy, UAE, <span class="year"></span>.</p>
                </div>   
            </div>
        </footer>
        <!-- javascript -->

        <script src="/script.js"></script>
    </body>
</html>
