<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- bootstrap & CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="/styles.css" rel="stylesheet">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300;1,400&family=Old+Standard+TT&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        
        <!-- icons -->
        <script src="https://kit.fontawesome.com/3198edb026.js" crossorigin="anonymous"></script>

        <!-- others -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/pics/logo.png" rel="icon">
        <title>Brands</title>

    </head>

    <body class="perfumes-body">
        <!-- navbar -->
        <nav class="border-bottom">
            <div class="container-fluid">
                <!-- normal-navbar -->
                <div class="row normal-navbar">
                    <div class="col-2 brand-name-div">
                        <a href="/index.html"><img class="brandname" src="/pics/brandname.png" alt="beauzy logo"></a>
                    </div>
                    <div class="col-1 logo">
                        <img id="logo" class=" " src="/pics/logo.png" alt="beauzy logo">  
                    </div>
                    <div class="col-6 nav-items  pt-3">
                        <div class="d-flex justify-content-center">
                            <a href="/index.html#bestsellers" class="me-4">Best Sellers</a>
                            <a href="/templates/women.html" class="me-4">Women</a>
                            <a href="/templates/men.html" class="me-4">Men</a>
                            <a href="/templates/unisex.html" class="me-4">Unisex</a>
                            <a href="/templates/brands.html" class="me-4">Brands</a>
                            <a href="/index.html#pricelist" class="me-4">Price List</a>
                        </div>
                    </div>
                    <div class="col-2 right-side pt-3">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971585644345">Order Now </a></p>
                            <a class="whatsappicon ps-3" target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>

                <!-- navbar when minimized  -->
                <div class="row brandname-minimized">
                    <div class="col-4 left-bts pt-1">
                        <a href="/index.html"><img class="" src="/pics/brandname.png" alt="beauzy logo"></a>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-1 right-bts">
                        <img class="" src="/pics/logo.png" alt="beauzy logo">  
                    </div>
                </div>
                <!-- nav items minimized  -->
                <div class="row nav-items-minimized">
                    <div class="col-9 left-bts">
                        <div class="d-flex ">
                            <a href="/index.html#bestsellers">Best-Sellers</a>
                            <a href="/templates/women.html">Women</a>
                            <a href="/templates/men.html">Men</a>
                            <a href="/templates/unisex.html">Unisex</a>
                            <a href="/index.html#pricelist">Price List</a>
                        </div>
                    </div>
                    <div class="col-3 right-bts">
                        <div class="d-flex">
                            <p><a href="https://wa.me/971585644345">Order Now </a></p>
                            <a class="whatsappicon" target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>
                    </div>
                </div>
            </div>
            

        </nav>
        <!-- header  -->
        <header class="header">
            <span class="left-bts">free delivery all over UAE (except for far area and Western Region)
            </span>
            <span class="right-bts">
                <a href="/templates/about.html" class="me-4 ">ABOUT</a>
                <a href="/templates/returns.html" class="me-3">RETURNS AND EXCHANGES</a>
            </span>
        </header>


        <!-- main   -->
        <section id="brandspage" class="container text-center my-5 mx-auto">
            <div class="intro mb-5">
                <p>Shop by brand</p>
                <h6 class="pb-5">brands</h6>
            </div>

            <!-- rows -->
            <div class="row perfume-rows">
                <div class="col-3 perfume">
                    <a href="/templates/brands/amouage.html" class="d-block"><img src="/pics/brandss/amouage.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/burberry.html" class="d-block"><img src="/pics/brandss/burberry1.jpg" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/bvlgari.html" class="d-block"><img src="/pics/brandss/bvlgari.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/carolinaherrera.html" class="d-block"><img src="/pics/brandss/caro1.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/chanel.html" class="d-block"><img src="/pics/brandss/chanel.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/calvinklein.html" class="d-block"><img src="/pics/brandss/ck.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/creed.html" class="d-block"><img src="/pics/brandss/creed.jpg" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/gucci.html" class="d-block"><img src="/pics/brandss/gucci.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/dior.html" class="d-block"><img src="/pics/brandss/dior.png" alt=""></a>
                </div>    
                <div class="col-3 perfume">
                    <a href="/templates/brands/giorgioarmai.html" class="d-block"><img src="/pics/brandss/Giorgioarmani.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/givenchy.html" class="d-block"><img src="/pics/brandss/givenchy.png.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/guerlin.html" class="d-block"><img src="/pics/brandss/guerlain.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/kenzo.html" class="d-block"><img src="/pics/brandss/kenzo.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/lacoste.html" class="d-block"><img src="/pics/brandss/lacoste.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/lancome.html" class="d-block"><img src="/pics/brandss/lancome.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/montblanc.html" class="d-block"><img src="/pics/brandss/montblanc.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/mugler.html" class="d-block"><img src="/pics/brandss/mugler.jpg" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/narciso.html" class="d-block"><img src="/pics/brandss/narciso2.jpg" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/pacorabanne.html" class="d-block"><img src="/pics/brandss/paco.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/robertocavalli.html" class="d-block"><img src="/pics/brandss/roberto.png" alt=""></a>
                </div>
                <div class="col-4 perfume">
                    <a href="/templates/brands/tomford.html" class="d-block"><img src="/pics/brandss/tomford.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/versace.html" class="d-block"><img src="/pics/brandss/versace.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/victoria.html" class="d-block"><img src="/pics/brandss/victoria.png" alt=""></a>
                </div>
                <div class="col-3 perfume">
                    <a href="/templates/brands/ysl.html" class="d-block"><img src="/pics/brandss/ysl.png" alt=""></a>
                </div>

            </div>

            
        

          

            
          
        </section>


        <!-- line -->
        <div class="container-md mt-5 pt-5">
            <div class="row border pink-line"></div>
        </div>

        
        <!-- footer -->
        <footer class="footer">
            <div class="container footer-items">
                <div class="row">
                    <div class="col-4 logo-moto">
                        <img class="img1" src="/pics/brandname.png" alt="Beauzy logo">
                        <p>UAE's favorite online store for original perfume testers shipping all over UAE.</p>
                        <img class="img2" src="/pics/codcar.png" alt="cash on delivery sign">
                    </div>
                    <div class="col-2 categories">
                        <h6>CATEGORIES</h6>
                        <ul class="">
                            <li><a href="/templates/women.html">Women</a></li>
                            <li><a href="/templates/men.html">Men</a></li>
                            <li><a href="/templates/unisex.html">Unisex</a></li>
                            <li><a href="/templates/brands.html">Brands</a></li>
                            <li><a href="/index.html#bestsellers">Best Sellers</a></li>
                        </ul>
                    </div>
                    <div class="col-2 links ">
                        <h6>IMPORTANT LINKS</h6>
                        <ul>
                            <li><a href="/templates/about.html">About</a></li>
                            <li><a href="/templates/faqs.html">FAQs</a></li>
                            <li><a href="/templates/returns.html">Returns and Exchanges</a></li>
                        </ul>
                    </div>
                    <div class="col-3 contact-us ">
                        <div class="contact-info">
                            <h6>CONTACT US</h6> 
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Phone:</b> </td>
                                        <td> +971-58-564-4345</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email:</b></td>
                                        <td>Beauzyuae@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                           
                        </div>
                        <div class="social-media">
                            <h6 class="">SOCIAL MEDIA</h6>
                            <a target="_blank" href="https://www.facebook.com/groups/757047515363892/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                            <a target="_blank" href="https://www.instagram.com/beauzy_uae/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                            <a target="_blank" href="https://wa.me/971585644345"><i class="fa-brands fa-whatsapp fa-2xl "></i></a>
                        </div>

                    </div>
                </div>

                <!-- all rights reserved -->
                <div class="border mt-5 "></div>
                <div class="mt-2">
                    <p class="fs-6 fst-italic">All rights reserved. <br> Beauzy, UAE, <span class="year"></span>.</p>
                </div>   
            </div>
        </footer>

        <script src="/script.js"></script>
    </body>
</html>
